
projlab.out

projlab.markdown.err

projlab.markdown.lua

projlab.markdown.out

projlab.log

projlab.fls

projlab.fdb_latexmk

projlab.aux

_markdown_projlab/

projlab.synctex.gz

*.log
*.fls
*.fdb_latexmk
*.aux
*.err
*.lua
*.out

*.pdf
/**/*.pdf

/**/_markdown_Project_desc/

*.synctex.gz

build/**/*

/**/build/**/*

*.gz

*.eps

*.synctex(busy)

svg-inkscape/

docs/2_Project/out.tex
